{% extends "base.html.twig" %}

{% block title %}{{ program.title }} - E{{ episode.number }} S{{ season.number }} {% endblock %}

{% block body %}
	<div class="media" style="padding: 5%">
		<div class="media-body">
			<h1 class="mt-0">{{ episode.title }}</h1>
			     {# * @Route("/programs/{program_slug}/seasons/{season_number}/episodes/{episode_slug}", name="program_episode_show") #}

			<small><a href="{{ path('program_season_show', {'program_slug': program.slug, 'season_number': season.number})}}">Retour à la saison n°{{ season.number }}</a><small> 
			<div clas="text" style="padding-top: 2%"><strong>Synopsis : </strong><p> {{ episode.synopsis }} </p></div>
		</div>
	</div>
	
    {% endblock %}
	