{% extends "base.html.twig" %}

{% block title %}Créer une nouvelle série
{% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
	<section id="cover">
		<div id="cover-caption">
			<div id="container" style="padding-top: 10%; padding-left: 22%">
				<div class="col-sm-6 col-sm offset-1">
					<div class="card">
						<div class="card-body" style="margin-left: 0%">
							<h4 class="card-title" style="text-align:center">Créer une nouvelle série</h4>
							{{ form_start(form) }}
							<div class="row align-items-end" style="padding-left: 0%">
								<div class="col-md-12">
									{{ form_row(form.title) }}
								</div>
								<div class="col-md-12">
									{{ form_row(form.summary) }}
								</div>
								<div class="col-md-12">
									{{ form_row(form.poster) }}
								</div>
								<div class="col-md-6">
									{{ form_row(form.category) }}
								</div>
								<div class="col-md-6">
									{{ form_row(form.actors) }}
								</div>
								<div class="col-md-12">
									{{ form_row(form.submit) }}
								</div>
							</div>
							{{ form_end(form) }}
						</div>
					</div>
				</div>
			</div>
			<br>
		</div>
	</div>
{% endblock %}
