{% extends "base.html.twig" %}

{% block title %}Wild Series - Saison n°:
	{{ season.number }}
{% endblock %}

{% block body %}

	<div class="media" style="padding: 5%">
		<div class="media-body">
			<h1 class="mt-0">Saison n°:
				{{ season.number }}
				-
				{{ season.year }}</h1>
			<small>
				<a href="{{ path('program') }}">Retourner à liste des programmes</a>
			</small><br>
			<div class="text" style="padding-top: 2%">
				<strong>Description :
				</strong>
				<p>{{ season.description }}</p>
			</div>
			{% for episode in episodes %}
				<div class="episode" style="padding-top: 2%"><strong>
				<a href="{{ path("program_episode_show",
				 { "program_slug": program.slug ,"season_number": season.number, "episode_slug": episode.slug }) }}">
				{{ episode.number }} : {{ episode.title }}</a></strong></div>
			{% endfor %}

		</div>
	</div>

{% endblock %}
