{% extends "base.html.twig" %}

{% block title %} {{ actor.name }} {% endblock %}

{% block body %}
	<div class="container" style="padding: 3%">
		<h1 style="padding-bottom:3% ">{{ actor.name }}</h1>
        <h3>Liste des séries :</h3>
		{% for program in actor.programs %}
			<div class="card" style="padding: 1%">
                <ul style="list-style:none;margin: 0">
				{# {{ path('program_show', {id: program.id}) }} #}
                    <li style="padding: 2%"><p><a href="{{ path('program_show', {id: program.id}) }}">{{ program.title }}</a></p></li>
                </ul>
			</div>
        <br>
		{% else %}
			Aucune série trouvée.
		{% endfor %}
		<a href="{{ path('actor') }}">
			Retour aux acteurs
		</a>
	</div>
{% endblock %}
